* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.headerelement {
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 32px;
    max-height: 32px;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    float: left;
    background: #ffffff;
}

#my_name{
  font-weight: bolder;
  font-size: 13px;
}

#headerbox_left {
  background: none;
  margin-right: 50px;
  margin-left: 50px;
  width: auto;
  top: 0px;
  left: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Arial;
  font-weight: normal;
 
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: -1;
}

#headerbox {
    background: none;
    margin-right: 50px;
    margin-left: 50px;
    width: auto;
    top: 32px;
    display: flex;   
    justify-content: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
}



a {
    color:#171717;
}

a:link {
    text-decoration: none;
}

a:hover {
  color: #1717176c;
}
  

.active {
    background-color: #171717;
    
}

.active a {
    color: #ffffff;
    z-index: 1;
}

body {
    background-color:#ffffff;
}

img {
    background-color: #171717;
    max-height: 100%;
    max-width: 100%;
    display: block; /* remove extra space below image */
}

.exhibitions {

  padding-right: 8px;
  padding-left: 8px;
  font-size: 13px;
  
  
}

#myHead {
  background-color:#17171700;
  padding-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 0px;

  
}

.text {
  margin-top: 0px;
  font-size: 13px;
  line-height: 20px;
  padding-left: 40px;
  padding-right: 8px;
}

#contact {
  text-align: center;
  font-size: x-small;
}


/* Slideshow container */
.slideshow-container {
    overflow: clip;
    overflow-block: clip;
    font-size: 0px;
    left: 100px;
    top: 30px;
    width: 65%;
    height: auto;
    position: relative;
    /* border: 5px solid black; /* boxtest */ 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(255, 255, 255, 0.158);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: block;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #171717;
}

/* Caption text */
.button {
  display: flex;   
  justify-content: flex-end;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  margin: 10px 50px 10px 0;
}

button {
  border: 0;
  text-align: center;
  background-color:#ffffff;
  font-size: 12px;
  font-family: Arial;
  bottom: 20px;
}


.dot:hover {
  background-color: #171717;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


user agent stylesheet
div {
    display: block;
}